<style>
    caption {
        display: table-caption;
        text-align: left;
        caption-side: bottom;
    }
    table {
        border: 1px solid lightgray;
        /* border-top: 0px solid grey;
        border-bottom: 1px solid white; */
        border-collapse: collapse;
    }
    td {
        text-align: center;
    }
</style>
<table>
    <tr>
        <td>
            <img src="{{ site.baseurl }}{{ include.file }}" alt="{{ include.description }}" ><br />
        </td>
    </tr>
    <caption>
        <em>{{ include.description }}</em>
    </caption>
</table>